body { 
	color: white;
	background: #ACC8E5;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

                     

     }
h1 {
	color: red;
   }
h2{
	color: green;
  }
h1, h2, h3{
	text-align: center;
      }
img{
	padding: 10px;
}
strong {
	color: red;
}
