body { 
	color: Black;
	background:#C2D9FF;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

                     

     }
h1 {
	color:#7752FE;
   }
h2{
	color: Black;
  }
h1, h2, h3{
	text-align: center;
      }
img{
	padding: 10px;
}
strong {
	color: red;
	
}
.custom-button {
   background-color: blue;
   color: white;
   padding: 20px 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
	
}
button {
   font-size: 20px;
}
