body {
    background-color:#C2D9FF;
}
h1 {
  text-transform: uppercase;
  color: #7752FE;
  font-size: 3rem;
}
.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: #190482;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}
.motivation-img {
    border: 5px solid aliceblue;
    width:100% ;
    

}
#nice {
    display:flex;
position: static;
margin-left: 30%;
gap: 2rem;
}
.foot{/*********** HIDDEN MENU section  *************/

.hidden-menu-items {
  display: none;
  position: absolute;
  z-index: 2;
}


/******* This displays the menu on click *******/

.menu-button {
  cursor: pointer;
}
.menu-open-indicator,
.menu-close-indicator {
  display: none;
}
.menu-open-indicator:checked ~ .menu-open,
.menu-close {
  display: none;
}
.menu-open-indicator:checked ~ .menu-close,
.menu-open-indicator:checked ~ .hidden-menu-items {
  display: block;
}
   align-content: center;
}
.bun{
   background-color:#B6FFFA; 
}





    
   
}hr{
    background-color: plum;
    height: 2px;
}
